DEBUG=True
SECRET_KEY=doi-cai-nay-thanh-random-string-that-dai
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgres://teacher:changeme@db:5432/teaching_scheduler

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
